################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Graphite/v16
/bin
/bin-int
/Graphite/vendor/Vulkan/1.2.148.1
*.sln
*.user
*.filters
*.vcxproj
